<h2>Todos los usuarios</h2>
<div *ngIf="isLoading; else elseBlock">
  <div class="auth-loader-container">
    <app-loader></app-loader>
  </div>
</div>



<ng-template #elseBlock>

  <button class="btn btn-primary" routerLink="/auth/usuarios/nuevo">
    Nuevo usuario
  </button>

  <hr>
  <div class="margin-bottom-xs b-project-list-sorting">
    <app-sorting [data]="users"
                 [elements]="[
               {name: 'name', displayName: 'Nombre'},
               {name: 'username', displayName: 'Usuario'}
               ]" (sortedData)="setData($event)">
    </app-sorting>
  </div>
  <div class="row">
    <div *ngFor="let user of users" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-user"></span>{{user.name}}</h3></div>
        <div class="panel-body">
          <p><b>Username: </b>{{user.username}}</p>
          <p><b>Email: </b>{{user.email}}</p>
          <p><b>Creado: </b> {{ user.created_at | moment:'DD-MM-YYYY':'YYYY-MM-DD hh:mm:ss':'es'}}</p>
          <p><b>Actualizado: </b> {{ user.updated_at | moment:'DD-MM-YYYY':'YYYY-MM-DD hh:mm:ss':'es'}}</p>
        </div>
      </div>
    </div>
  </div>

</ng-template>

